/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-primary: "Lalezar", sans-serif;
  --font-secondary: "Playfair Display", serif;

  /* Colors */
  --color-primary: #6366f1;
  --color-primary-light: #a5b4fc;
  --color-primary-dark: #4338ca;

  --color-secondary: #f59e0b;
  --color-secondary-light: #fcd34d;
  --color-secondary-dark: #b45309;
}


